@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

 <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <br /><br /><br />
    <h2>BINE ATI VENIT!</h2>
</div>
