@page
@model RESTAURANT.Pages.Reservations.DeleteModel
<style>
    h1 {
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    .row{
        text-align:center;
    }

    th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: center;
        color: white;
    }


    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: purple;
    }

    .btn{
        background-color: purple;
        color: white;
        border-radius: 10px;
    }

    .btn :hover{
        background-color: white;
        color: purple;
        border-radius: 10px;
    }
</style>
@{
    ViewData["Title"] = "Delete";
}

<h1>Sterge</h1>

<h3>Sigur vrei sa stergi rezervarea?</h3>
<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.Location.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reservation.DateAndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reservation.DateAndTime)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reservation.ReservationId" />
        <br />

        <input type="submit" value="Sterge" class="btn btn-danger" /> |
        <a asp-page="./Index">Sterge</a>
    </form>
</div>
