@page
@model RESTAURANT.Pages.Reservations.EditModel
<style>
    h1 {
        color: white;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    .row{
        text-align:center;
    }

    th, td {
        border: 1px solid white;
        padding: 8px;
        text-align: center;
        color: white;
    }


    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: purple;
    }

    .btn{
        background-color: purple;
        color: white;
        border-radius: 10px;
    }

    .btn :hover{
        background-color: white;
        color: purple;
        border-radius: 10px;
    }
</style>
@{
    ViewData["Title"] = "Edit";
}



<h4>Rezervare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Reservation.ReservationId" />
            <div class="form-group">
                <label asp-for="Reservation.LocationId" class="control-label"></label>
                <select asp-for="Reservation.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                <span asp-validation-for="Reservation.LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.DateAndTime" class="control-label"></label>
                <input asp-for="Reservation.DateAndTime" class="form-control" />
                <span asp-validation-for="Reservation.DateAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Salveaza" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Inapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
